<!doctype html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Decision</title>
</head>
<body>

  <h1><%= @heading %></h1>

  <p>A's decision: <strong><%= @a_decision %></strong></p>
  <p>B's decision: <strong><%= @b_decision %></strong></p>

  <h3><%= @result %></h3>

</body>
</html>