!!! 5
html(lang='en')
  head
    include partials/_head
  body
    div.container

      include partials/_header

      //- explaining the CPU
      article A central processing unit (CPU), also referred to as a central processor unit, is the hardware within a computer system which carries out the instructions of a computer program by performing the basic arithmetical, logical, and input/output operations of the system. The term has been in use in the computer industry at least since the early 1960s. The form, design, and implementation of CPUs have changed over the course of their history, but their fundamental operation remains much the same.