* {
  box-sizing: border-box; }

body {
  background: url(bg.png);
  font-family: "Quando", serif; }

#container {
  margin: 0 auto;
  width: 960px; }

h1 {
  font-size: 5em;
  text-align: center;
  margin: 0 0 30px 0;
  color: #5e8b6f; }
  h1 .char1 {
    color: #78a48b;
    text-shadow: -1px 0 1px #96b9a5, -1px 0 1px #96b9a5, -1px 1px 0 #699a7e, -1px 2px 0 #66977c, -1px 3px 0 #649479, -1px 4px 0 #629177, -1px 5px 1px #547c65, 1px 1px 0 #699a7e, 1px 2px 0 #66977c, 1px 3px 0 #649479, 1px 4px 0 #629177, 1px 5px 1px #547c65, 0 6px 4px rgba(147, 182, 162, 0.7), 0 8px 16px rgba(0, 0, 0, 0.3); }
  h1 .char2 {
    color: #78a48d;
    text-shadow: -1px 0 1px #96b9a7, -1px 0 1px #96b9a7, -1px 1px 0 #699a81, -1px 2px 0 #66977e, -1px 3px 0 #64947b, -1px 4px 0 #629179, -1px 5px 1px #547c67, 1px 1px 0 #699a81, 1px 2px 0 #66977e, 1px 3px 0 #64947b, 1px 4px 0 #629179, 1px 5px 1px #547c67, 0 6px 4px rgba(147, 182, 163, 0.7), 0 8px 16px rgba(0, 0, 0, 0.3); }
  h1 .char3 {
    color: #78a490;
    text-shadow: -1px 0 1px #96b9a9, -1px 0 1px #96b9a9, -1px 1px 0 #699a83, -1px 2px 0 #669780, -1px 3px 0 #64947e, -1px 4px 0 #62917b, -1px 5px 1px #547c69, 1px 1px 0 #699a83, 1px 2px 0 #669780, 1px 3px 0 #64947e, 1px 4px 0 #62917b, 1px 5px 1px #547c69, 0 6px 4px rgba(147, 182, 166, 0.7), 0 8px 16px rgba(0, 0, 0, 0.3); }
  h1 .char4 {
    color: #78a492;
    text-shadow: -1px 0 1px #96b9aa, -1px 0 1px #96b9aa, -1px 1px 0 #699a85, -1px 2px 0 #669783, -1px 3px 0 #649480, -1px 4px 0 #62917e, -1px 5px 1px #547c6b, 1px 1px 0 #699a85, 1px 2px 0 #669783, 1px 3px 0 #649480, 1px 4px 0 #62917e, 1px 5px 1px #547c6b, 0 6px 4px rgba(147, 182, 167, 0.7), 0 8px 16px rgba(0, 0, 0, 0.3); }
  h1 .char5 {
    color: #78a494;
    text-shadow: -1px 0 1px #96b9ac, -1px 0 1px #96b9ac, -1px 1px 0 #699a88, -1px 2px 0 #669785, -1px 3px 0 #649483, -1px 4px 0 #629180, -1px 5px 1px #547c6d, 1px 1px 0 #699a88, 1px 2px 0 #669785, 1px 3px 0 #649483, 1px 4px 0 #629180, 1px 5px 1px #547c6d, 0 6px 4px rgba(147, 182, 169, 0.7), 0 8px 16px rgba(0, 0, 0, 0.3); }
  h1 .char6 {
    color: #78a496;
    text-shadow: -1px 0 1px #96b9ae, -1px 0 1px #96b9ae, -1px 1px 0 #699a8a, -1px 2px 0 #669788, -1px 3px 0 #649485, -1px 4px 0 #629182, -1px 5px 1px #547c6f, 1px 1px 0 #699a8a, 1px 2px 0 #669788, 1px 3px 0 #649485, 1px 4px 0 #629182, 1px 5px 1px #547c6f, 0 6px 4px rgba(147, 182, 171, 0.7), 0 8px 16px rgba(0, 0, 0, 0.3); }
  h1 .char7 {
    color: #78a498;
    text-shadow: -1px 0 1px #96b9b0, -1px 0 1px #96b9b0, -1px 1px 0 #699a8d, -1px 2px 0 #66978a, -1px 3px 0 #649488, -1px 4px 0 #629185, -1px 5px 1px #547c71, 1px 1px 0 #699a8d, 1px 2px 0 #66978a, 1px 3px 0 #649488, 1px 4px 0 #629185, 1px 5px 1px #547c71, 0 6px 4px rgba(147, 182, 172, 0.7), 0 8px 16px rgba(0, 0, 0, 0.3); }
  h1 .char8 {
    color: #78a49b;
    text-shadow: -1px 0 1px #96b9b1, -1px 0 1px #96b9b1, -1px 1px 0 #699a8f, -1px 2px 0 #66978d, -1px 3px 0 #64948a, -1px 4px 0 #629187, -1px 5px 1px #547c73, 1px 1px 0 #699a8f, 1px 2px 0 #66978d, 1px 3px 0 #64948a, 1px 4px 0 #629187, 1px 5px 1px #547c73, 0 6px 4px rgba(147, 182, 175, 0.7), 0 8px 16px rgba(0, 0, 0, 0.3); }
  h1 .char9 {
    color: #78a49d;
    text-shadow: -1px 0 1px #96b9b3, -1px 0 1px #96b9b3, -1px 1px 0 #699a92, -1px 2px 0 #66978f, -1px 3px 0 #64948c, -1px 4px 0 #62918a, -1px 5px 1px #547c75, 1px 1px 0 #699a92, 1px 2px 0 #66978f, 1px 3px 0 #64948c, 1px 4px 0 #62918a, 1px 5px 1px #547c75, 0 6px 4px rgba(147, 182, 176, 0.7), 0 8px 16px rgba(0, 0, 0, 0.3); }
  h1 .char10 {
    color: #78a49f;
    text-shadow: -1px 0 1px #96b9b5, -1px 0 1px #96b9b5, -1px 1px 0 #699a94, -1px 2px 0 #669792, -1px 3px 0 #64948f, -1px 4px 0 #62918c, -1px 5px 1px #547c77, 1px 1px 0 #699a94, 1px 2px 0 #669792, 1px 3px 0 #64948f, 1px 4px 0 #62918c, 1px 5px 1px #547c77, 0 6px 4px rgba(147, 182, 178, 0.7), 0 8px 16px rgba(0, 0, 0, 0.3); }

table {
  width: 500px;
  margin: 0 auto;
  border: 5px solid #cdcbc6; }

td {
  padding: 10px; }
  td:nth-child(1) {
    width: 25%; }
  td:nth-child(2) {
    width: 20%; }
  td:nth-child(3) {
    width: 55%; }

tr {
  border: 5px solid #cdcbc6; }
  tr:nth-child(1) {
    background-color: white; }
  tr:nth-child(2) {
    background-color: #f2f6f4; }
  tr:nth-child(3) {
    background-color: #e3ece6; }
  tr:nth-child(4) {
    background-color: #d3e2d9; }
  tr:nth-child(5) {
    background-color: #c4d7cc; }
  tr:nth-child(6) {
    background-color: #b5cdbe; }
  tr:nth-child(7) {
    background-color: #a6c3b1; }
  tr:nth-child(8) {
    background-color: #96b9a4; }
  tr:nth-child(9) {
    background-color: #87ae96; }
  tr:first-child {
    background-color: white;
    font-weight: bold; }
