* {
  margin: 0;
  padding: 0; }

body {
  background-color: #c8dcd7; }

#container {
  width: 800px;
  margin: 0 auto; }

#map{
  margin: 30px 0;
  max-width: 100%;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0 0 40px 0;
  }

.rslides li {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

h1 {
  font: 400 95px/1.6 "Pacifico", Georgia, serif;
  text-align: center;
  color: #548478;
  text-shadow: -1px 0 1px #6aa193, -1px 0 1px #6aa193, -1px 1px 0 #4a746a, -1px 2px 0 #487167, -1px 3px 0 #466e64, -1px 4px 0 #446b61, -1px 5px 1px #36554d, 1px 1px 0 #4a746a, 1px 2px 0 #487167, 1px 3px 0 #466e64, 1px 4px 0 #446b61, 1px 5px 1px #36554d, 0 6px 4px rgba(118, 156, 147, 0.7), 0 8px 16px rgba(0, 0, 0, 0.3);
  margin: 0 0 40px 0; }

p {
  font: 400 16px/1.6 "Arimo", Verdana, Helvetica, sans-serif;
  margin: 0 0 20px 0; }


@media only screen and (max-width: 800px){
  #container{
    width: 96%;
  }
}


