/*
* HTML5 Boilerplate
*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
 Base styles: opinionated defaults
 ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight: h5bp.com/i
* These selection declarations have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between images and the bottom of their containers: h5bp.com/i/440
*/

img {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

/* ==========================================================================
 Chrome Frame prompt
 ========================================================================== */

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
 Author's custom styles
 ========================================================================== */
*{
  box-sizing: border-box;
}

body{
  background: url(../img/bg.png);
  font-family: 'Cardo', Georgia, Times, serif;
  font-size: 16px;
  line-height: 25px;
}

.container{
  width: 960px;
  margin: 0 auto;
}

h1 {
  font-family: 'Allan', Helvetica, Arial, sans-serif;
  font-size: 160px;
  line-height: 1.5em;
  text-align: center;

  color: white;
  text-shadow: 1px 1px #FE4902, 2px 2px #FE4902, 3px 3px #FE4902, 4px 4px #FE4902;

  -webkit-transition: all 0.12s ease-out;
  -moz-transition: all 0.12s ease-out;
  -o-transition: all 0.12s ease-out;
  margin: 0;
}

h1:hover{
  position: relative;
  top: -3px;
  left: -3px;
  text-shadow: 1px 1px #FE4902, 2px 2px #FE4902, 3px 3px #FE4902, 4px 4px #FE4902, 5px 5px #FE4902, 6px 6px #FE4902;
}

.video{
  margin: 0 0 30px 0;
}

.cpu-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.cpu-list:hover{
  cursor: pointer;
}

.cpu-list > li{
  display: inline-block;
  margin: 0 2.0833333% 0 0;
  vertical-align: top;
  width: 31.6666667%;
  height: 480px;
}

.cpu-info{
  display: none;
  list-style: none;
  color: black;
  margin: 20px auto 0 auto;
  padding: 10px;
  width: 100%;
  background-color: rgba(256, 256, 256, 0.5);
  border-radius: 10px;
  border: 3px solid #FE4902;
}

.cpu-list > li:hover .cpu-info{
  display: block;
}

.cpu-info li:nth-child(1):before{
  content: 'Introduction Year: ';
}

.cpu-info li:nth-child(2):before{
  content: 'Max-Clock Speed: ';
}

.cpu-info li:nth-child(3):before{
  content: 'Data Width: ';
}

.cpu-list > li:nth-child(3n){
  display: inline-block;
  margin-right: -4px;
}

.cpu-list >li img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}


/* ==========================================================================
 Helper classes
 ========================================================================== */

/*
* Image replacement
*/

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/*
* Hide from both screenreaders and browsers: h5bp.com/u
*/

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
 EXAMPLE Media Queries for Responsive Design.
 Theses examples override the primary ('mobile first') styles.
 Modify as content requires.
 ========================================================================== */

/* Desktop */
@media (max-width: 960px) {
  .container{
      width: 96%;
  }
}

@media (max-width: 768px) {
  .cpu-list > li{
    width: 100%;
  }
  .cpu-list > li img{
    max-width: 304px;
  }
  .cpu-info{
    display: block;
    max-width: 300px;
  }
}


/* ==========================================================================
 Print styles.
 Inlined to avoid required HTTP connection: h5bp.com/r
 ========================================================================== */

@media print {
  * {
      background: transparent !important;
      color: #000 !important; /* Black prints faster: h5bp.com/s */
      box-shadow:none !important;
      text-shadow: none !important;
  }

  a,
  a:visited {
      text-decoration: underline;
  }

  a[href]:after {
      content: " (" attr(href) ")";
  }

  abbr[title]:after {
      content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
      content: "";
  }

  pre,
  blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
  }

  thead {
      display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
      page-break-inside: avoid;
  }

  img {
      max-width: 100% !important;
  }

  @page {
      margin: 0.5cm;
  }

  p,
  h2,
  h3 {
      orphans: 3;
      widows: 3;
  }

  h2,
  h3 {
      page-break-after: avoid;
  }
}
