{
  "host": "ftp.domain.tld",
  "user": "username",
  "password": "xxxxxxxxxxxxxxxxxxxxxx",
  "youtubeEmail": "name@email.com",
  "youtubePassword": "xxxxxxxxxxxxxxxxxxxxxx",
  "youtubePlaylist": "http://gdata.youtube.com/feeds/api/playlists/PL9wSRifxQqRrLalGxTs-8FmfftbueLk5u",
  "youtubePlaylistURL": "http://www.youtube.com/playlist?list=SP9wSRifxQqRrLalGxTs-8FmfftbueLk5u",
  "desktopPath": "/Users/username/Desktop/",
  "repoPath": "/path/to/repo/",

  "postDate": "YYYY-MM-DD",
  "num": "NNN",
  "episode": "In capital letters",
  "episodeLowercase": "in-dashed-lowercase",
  "tags": "tutorial, screencast, technology, development, add, on, more, tags, as, needed"
}
