<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Build Podcast | {{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="google-site-verification" content="v39dWaTENWBp5BhoRKmCZX2YfwbJcYGZ4_S8XVjJIag" />
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for Build Podcast" href="http://feeds.feedburner.com/BuildPodcastVideos" />
  <link rel="stylesheet" href="{{site.url}}/style.css">
</head>
<body>

<!--[if lt IE 9]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<header class="header">

  <a href="/"><img src="{{site.url}}/logo.svg" class="logo"></a>

  <ul class="social">
    <li><a href="http://feeds.feedburner.com/BuildPodcastVideos" title="Build Podcast RSS" id="rss">&#xe271;</a></li>
    <li><a href="http://build-podcast.com/itunes" title="Build Podcast iTunes" id="itunes">&#xe250;</a></li>
    <li><a href="http://build-podcast.com/vimeo" title="Build Podcast Vimeo" id="vimeo">&#xe289;</a></li>
  </ul>

  <ul class="social">
    <li><a href="http://build-podcast.com/youtube" title="Build Podcast Youtube" id="youtube">&#xe299;</a></li>
    <li><a href="http://github.com/sayanee/build-podcast" title="Build Podcast Github" id="github">&#xe237;</a></li>
    <li><a href="http://twitter.com/buildpodcast" title="Build Podcast Twitter" id="twitter">&#xe286;</a></li>
  </ul>
</header>

{{ content }}

<footer class="footer">
  <ul class="pages">
    <li><a href="/about" title="About Build Podcast">About</a></li>
    <li><a href="/setup" title="Equipment, Automation and Gadgets used">Setup</a></li>
    <li><a href="https://github.com/sayanee/build-podcast/blob/master/CONTRIBUTING.md" title="Pull Request in Github">Fix errors</a></li>
    <li><a href="https://twitter.com/buildpodcast" title="Feedback">Feedback</a></li>
    <li><a href="/share" title="How to reuse all content from this project">Share</a></li>
  </ul>
  <p class="credits">Everything on this website belongs to YOU under the <a href="http://creativecommons.org/publicdomain/zero/1.0/" title="Creative Commons public domain license">Public Domain</a>. Each episode is handcrafted by <a href="http://sayan.ee">Sayanee</a>.</p>
  <a href="http://www.pledgie.com/campaigns/19089"><img alt="Click here to lend your support to: Build Podcast and make a donation at www.pledgie.com !" src="http://www.pledgie.com/campaigns/19089.png?skin_name=chrome" title="I use the donated money to buy eBooks, electronics and some good chocolates :)" /></a>
</footer>

<script src="{{site.url}}/script.js"></script>
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32313389-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
