// fonts
@import 'http://fonts.googleapis.com/css?family=Fjalla+One|Domine'
@font-face
  font-family: 'Social'
  src: url('./fonts/social.eot')
  src: url('./fonts/social.eot?#iefix') format('embedded-opentype'), url('./fonts/social.woff') format('woff'), url('./fonts/social.ttf') format('truetype'), url('./fonts/social.svg#./fonts/social') format('svg')

$sans: 'Fjalla One'
$serif: 'Domine'
$social-icon: 'Social'

// color palette
$black: #4b5568
$orange: #ec6b0f
$turquoise: #45acda
$grey: #b2c4d1

// colors
$header: $black
$social : $black
$episodes: $black
$footer: $black

// length
$width-fixed: 960px
